.navigation{
  height: 100px;
 
}
ul{
  display: flex;
  list-style: none;
  float: right;
 
}
a{
  text-decoration: none;
  margin: 15px;
  font-size:20px;
  color: black;
  font-weight: bold;
  color: transparent;


  padding: 10px;
  border-radius: 10px;}
  a:hover{
  
    color: transparent;
  }
  body{

    font-family:  sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .container{
    display: flex;

    width: 100%;
    height: 800px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  .text{
    color: rgb(189, 189, 152);
    font-size: 30px;
    font-weight: 700;
  }
 .input{
  margin: 10px;
  color:rgb(189, 179, 179);
 
 }
.input input{
  height: 30px;
  width: 300px;
  background: transparent;
  border-radius: 5px;
  outline: none;
  font-size: 19px;
 

}

.submit{
  display: flex;
  gap: 30px;
  margin: 20px auto;
  background: antiquewhite;
  font-size: 19px;
  cursor: pointer;
}
button{

  padding: 15px;
  border-radius: 5px;
  margin: 10px;
}


.form{
  display: flex;
  flex-direction: column;
  margin-top: 230px;
  margin-left: 50px;
  height: 600px;
  box-shadow: 11px 11px 11px 11px rgb(121, 139, 155);


}
.lg{
  width: 150px;
}
.header{
  margin-top: 50px;
}
::placeholder{
  color: white;
}
h1{
  font-weight: bold;
  -webkit-text-stroke: 2px rgb(38, 56, 61);
  color: transparent;
}
h2{
  font-weight: bold;
  -webkit-text-stroke: 2px rgb(8, 10, 11);
  color: transparent;
}
